<div class="page-header">
  <% if (is_tag()) { %>
    <section class="page-header tag">
      <h1>
        Tag: <%= page.tag %></span>
      </h1>
    </section>
  <% } %>
  <% if (is_category()) { %>
    <section class="page-header category">
      <h1>
        Category: <%= page.category %></span>
      </h1>
    </section>
	<% } %>

</div>

<ul class="post-list clearfix">
  <% page.posts.each(function(post){ %>
    <%- partial('post', {post: post}) %>
  <% }) %>
</ul>

<% if (page.total > 1){ %>
  <nav id="page-nav">
    <%- paginator({
      prev_text: 'Prev',
      next_text: 'Next'
    }) %>
  </nav>
<% } %>

